# output of pip freeze > requirements.txt
aniso8601==8.0.0
attrs==19.3.0
click==7.1.2
coverage==5.2.1
flake8==3.8.3
Flask==0.12.2
Flask-RESTful==0.3.6
iniconfig==1.0.1
itsdangerous==1.1.0
Jinja2==2.11.2
Markdown==2.6.11
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.4.0
packaging==20.4
pluggy==0.13.1
py==1.9.0
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
pytest==6.0.1
pytest-cov==2.10.0
pytz==2020.1
six==1.15.0
toml==0.10.1
Werkzeug==1.0.1
